@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,400&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-image: url("./bg.jpg");
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

h1 {
    font-size: 6rem;  /* Aumentato per maggiore visibilità */
    margin-top: 2rem;
    color: white;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7); /* Ombra per migliorare la leggibilità */
}

h2 {
    font-size: 3.5rem;  /* Aumentato per maggiore visibilità */
    line-height: 1;
    color: white;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7); /* Ombra per migliorare la leggibilità */
}

.countdown-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;  /* Aggiunto spazio tra il titolo e il countdown */
}

.big-text {
    font-weight: bold;
    font-size: 7rem;  /* Aumentato per maggiore visibilità */
    line-height: 1;
    color: white;
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.7);  /* Ombra per migliorare la leggibilità */
}

.countdown-el {
    text-align: center;  /* Allinea le parole "days-hours-mins-seconds" con il valore */
}

.countdown-el span {
    font-size: 3rem;  /* Aumentato per maggiore visibilità */
    color: white;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7); /* Ombra per migliorare la leggibilità */
}
